{{#partial "content"}}
    <h1>All Sightings</h1>
    <br>
    <br>
    <table class="table">
            <tr>
                <th scope="col">Animal Name</th>
                <th scope="col">Animal Type</th>
                <th scope="col">Animal Health</th>
                <th scope="col">Animal Age</th>

            </tr>
            {{#if endangeredAnimals}}
            {{#each endangeredAnimals}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{DATABASE_TYPE}}</td>
                    <td>{{health}}</td>
                    <td>{{age}}</td>

                </tr>
            {{/each}}
            {{else}}
                {{#each nonEndangeredAnimals}}
                    <tr>
                        <td>{{name}}</td>
                    </tr>
                {{/each}}

            {{/if}}
    </table>
{{/partial}}
{{> layout.hbs}}