{{#partial "content"}}
    <h1>All Sightings</h1>
    <br>
    <br>
    <table class="table">
        <th>
            <tr>
                <th scope="col">Location</th>
                <th scope="col">Ranger's Name</th>
                <th scope="col">Badge Number</th>
                <th scope="col">Animal Name</th>
                <th scope="col">Animal Type</th>
                <th scope="col">Animal Health</th>
                <th scope="col">Animal Age</th>
                <th scope="col">Time of sighting</th>
            </tr>
            {{#each animal}}
                <tr>
                    <td>{{location}}</td>
                    <td>{{rangerName}}</td>
                    <td>{{badgeNumber}}</td>
                    <td>{{animalName}}</td>
                    <td>{{animalType}}</td>
                    <td>{{animalHealth}}</td>
                    <td>{{animalAge}}</td>
                    <td>{{timestamp}}</td>
                </tr>
            {{/each}}
    </table>
{{/partial}}
{{>layout.hbs}}